# .gradle and .gradlew
.gradle
gradlew
gradlew.bat
gradle/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Maven #
target/

# Eclipse #
build/
.settings/
.classpath
.project
bin/

.metadata/
.recommenders/
